<form method ="post">
    <label for ="username">username</label>
    <input id ="username" type="text" name="username"> <br/>
    <label for="password">password</label>
    <input id="password" type="password" name="password"> <br/>
    <label for="mail">mail</label>
    <input id="mail" type="email" name="mail"> <br/>
    <input type="submit">
    <input class="favorite styled"
           type="button"
           value="create an account">
</form>
</p>

