
<body>
<div class="Creationarticle">
    <form>
        Titre de l'article: <input type="text" placeholder="Titre" name="articlename"><br>
        Nom de l'Auteur: <input type="text" placeholder="Nom" name="autheur"><br>
        Tag :<input type="text" name="tag"><br>
        Date: <input type="date" name="date"><br>
        <textarea name="article" rows="12" cols="90">Inserez votre article ICI
    </textarea>
        <br>
        <br>
        <a  type="submit"href="/" name="boutonarticle" class="bouton1">Confirmer</a>
    </form>
</div>
