<div class="login-box">
    <h1>Bienvenue !</h1>
    <form action="/page_login"method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">

        <a href="" class="bouton1" value="Se connecter" type="submit"> Se connecter</a>

        <a href="/page_inscription" class="bouton2" name="bouton2" value="Crée votre compte" type="button">s'incsrire</a>
    </form>
</div>
